
body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

.access-price {
  font-size: 1.2em;
  margin: 20px 0;
}

.paypal-button {
  font-size: 1.2em;
  padding: 15px 30px;
  background-color: #ffc439;
  border: none;
  color: #111;
  border-radius: 8px;
  cursor: pointer;
}

.header-img, .footer-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
